  .OwnerPreferences-container {
    display: flex;
    flex-direction: column;
  }
  .OwnerPreference-row{
    display: flex ;
    flex-direction: row ;
    justify-content:space-between;
  }
  .OwnerPreferences-more-opt-div {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(242, 85, 90, 0.3);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
  }
  .OwnerPreferences-more-opt-div:hover {
    background-color: rgba(242, 85, 90, 1);
  }
  .selected {
    color: black;
    background-color: rgba(242, 85, 90, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .selected:hover {

    background-color: rgba(242, 85, 90, 0.3);
  }
  .OwnerPreferences-i{
    padding-top: 15%;
  }