.UserPreferences-address {
  display: flex;
  flex-direction: row;
}
.UserPreferences-range-name {
  float: left;
}
.UserPreferences-range-min-span {
  float: left;
}
.UserPreferences-range-max-span {
  float: right;
}
.Range-slider {
  padding: 10px;
}
.UserPreferences-more-opt {
  display: flex;
  justify-content: space-around;
}
.UserPreferences-more-opt-span {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(242, 85, 90, 0.3);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  transition: background-color 300ms;
}
.UserPreferences-more-opt-span:hover {
  background-color: rgba(242, 85, 90, 1);
}
.selected {
  color: black;
  transition: background-color 300ms;
  background-color: rgba(242, 85, 90, 1);
}
.selected:hover {
  background-color: rgba(242, 85, 90, 0.3);
}
.UserPreferences-i {
  padding-top: 15%;
}
.UserPreferences-input-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.UserPreferences-label {
  width: 200px;
  text-align: left;
  float: left;
  margin-right: 4px;
}
.UserPreferences-input-select {
  float: right;
  width: 150px;
}
