.LikedUser-container {
  background-color: rgb(24, 24, 77);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 12vh;
  min-width: 20%;
  max-width: 20%;
  border-radius: 8px;
  text-align: left;
  margin-right: 5%;
  opacity: 0.5;
  transition: opacity 300ms linear;
}
.LikedUser-img {
  position: relative;
  width: 80%;
  height: 50%;
}
