/* .Apartment-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.Apartment-img-desc {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.Apartment-img-and-buttons {
  position: relative;
  right: 5%;
  float: right;
}
.Apartment-description-container {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: left;
  border: 1px solid black;
}
.Apartment-description {
  display: flex;
  width: 30vw;
  height: 10vh;
  border: 1px solid blue;
  padding: 10px;
  background-color: blanchedalmond;
}
.Apartment-description span {
  font-size: 18px;
  padding: 0 5px;
}
.Apartment-top-img-and-buttons {
  width: 50vw;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  float: right;
}
.Apartment-img {
  width: 40vw;
  height: 45vh;
}
.Apartment-thumbs-up-button {
  background-color: green;
  margin-left: 15px;
}
.Apartment-thumbs-down-button {
  background-color: red;
  margin-right: 15px;
}
.Apartment-btn {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.Apartment-btn-text {
  font-size: 25px;
  margin: auto;
}
.Apartment-like-dislike-div {
  display: flex;
  justify-content: center;
}

.Apartment-description-text {
  font-size: 20px;
} */
.Apartment {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Apartment-apt-div {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  height: 81vh;
  width: 43.2vw;
  margin-bottom: 5vh;
  border: 1px solid grey;
  border-radius: 10px;
}
.Apartment-img-div {
  margin-top: 1.7vh;
  margin-left: 1.5vw;
  width: 40vw;
  height: 45vh;
}
.Apartment-description-container {

  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -2vh;
  margin-left: 1vh;

}
.Apartment-description-main{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 20vw;
  height: 30vh;
  margin-top: 1.5vh;

}
.Apartment-description-main-miniContainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5vh;
  font-weight: 700;
}
.description-text-span{
  margin-bottom: 1.5vh;
  font-weight: 700;

}
.Apartment-description-secondary{
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 30vh;
  justify-content: flex-end;
}
.Apartment-description-secondary-left{
  display: flex;
  flex-direction: column;
  width: 8vw;
  height: 30vh;
  margin-top: 1.5vh;

}
.Apartment-description-secondary-right{
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 30vh;
  margin-top: 1.5vh;
}
.description-secondary-text-span{
  margin-bottom: 2.5vh;
  font-weight: 700;
}

.description-check{
  color:green
}
.description-un-check{
  color:red
  
}

.Apartment-users-container{
  display: flex;
  height: 16vh;
  width: 70vw;
  margin-bottom: 5vh;
  border: 1px solid grey;
  border-radius: 10px;
}
.Apartment-thumbs-up-button {
  background-color: green;
  margin-left: 15px;
}
.Apartment-thumbs-down-button {
  background-color: red;
  margin-right: 15px;
}
.Apartment-btn {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.Apartment-btn-text {
  font-size: 25px;
  margin: auto;
}
.Apartment-like-dislike-div {
  display: flex;
  justify-content: center;
}