.Home-container {
  /* display: flex;
  flex-direction: row-reverse; */
  /* position: relative; */
  width: 100vw;
  overflow-x: hidden;
}
.z-index {
  z-index: -2;
}
.Home-filter-component {
  position: relative;
  float: right;
  width: 20vw;
}
.Home-main {
  display: flex;
  flex-direction: row;
  width: 90vh;
}
.Home-apartment-map {
  margin-top: 8vh;
  display: flex;
  margin-left: 2vw;
}
.Home-apartment-component {
  display: flex;
}

.Home-filter-btn {
  position: fixed;
  z-index: 1111;
  font-size: 30px;
  right: 2%;
  top: 10%;
  color: black;
  cursor: pointer;
}
.close-filters {
  transform: translateX(110%);
  transition: transform 1s ease;
}
.open-filters {
  transform: translateX(0);
  transition: transform 1s ease;
}
.Home-noNew-div {
  position: relative;
  right: 20%;
  top: 30%;
}
.Home-noNew-img {
  width: 50%;
}
