.Home-container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: 8vh;
  margin-top: 5vh;
  width: 100vw;
}
.z-index {
  z-index: -2;
}
.Home-filter-component {
  float: right;
  width: 20vw;
}
.Home-left-side {
  width: 80vw;
}
.Home-apartment-component {
  width: 50vw;
}
.Home-map-button-span{
  margin-top: 15px;
  height: 50px;
  width: 500px;
  cursor: pointer;
  background-color: cyan;
}