.Profile-container {
  position: relative;
  height: auto;
  width: auto;
  /* z-index: 5; */
}
.Profile-navbar {
  cursor: pointer;
}
.Profile-navbar img {
  border-radius: 50%;
  transform: scale(0.5);
}
.Profile-info-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 12vw;
  width: 15vw;
  max-height: 32vh;
  border: 1px solid black;
  top: 10vh;
  left: -6vw;
  background-color: rgb(101, 101, 102);
  font-size: 20px;
}
.Profile-info-div span {
  padding-left: 15px;
  text-align: left;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}
#Profile-log-out {
  cursor: pointer;
}
.fa-door-open {
  padding-right: 10px;
}
