.SignUp-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 1vh;
  left: 8vw;
}
.SignUp-form p {
  line-height: 4vh;
}
.SignUp-form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
}
.SignUp-form p {
  text-align: left;
}
.SignUp-div-input {
  padding: 20px;
  padding-left: 0;
  font-size: 18px;
  border-bottom: 1px solid grey;
  margin-bottom: 3vh;
}
.SignUp-input {
  outline: none;
  border: none;
  padding-left: 15px;
  margin-left: 3px;
}
#upload-pic {
  font-size: 16px;
}
.SignUp-img {
  width: 40vw;
  height: 85vh;
}
.SignUp-msg {
  color: red;
}
.SignUp-usage-purp-span {
  margin-right: 2vw;
}
.SignUp-purpose {
  margin: 0 1vw;
}
.btn-outline-primary {
  margin-right: 3vw;
}
