.Filter-container {
  position: relative;
  float: right;
  padding: 10px;
  border: 1px solid black;
  min-height: 85vh;
  width: 20vw;
  background-color: rgb(236, 236, 236);
  overflow-y: scroll;
}
.Filter-address {
  display: flex;
  flex-direction: row;
}
.Filter-range-container{
  height: 80px;
}
.Filter-range-span{
  height: 10px;

}
.Filter-range-name {
  float: left;
}
.Filter-range-min-span {
  float: left;
}
.Filter-range-max-span {
  float: right;
}
.Range-slider {
  padding: 10px;
}
.Filter-more-opt {
  display: flex;
  justify-content: space-around;
}
.Filter-more-opt-span {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(242, 85, 90, 0.3);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}
.selected {
  color: black;
  background-color: rgba(242, 85, 90, 1);
}
.Filter-search{
  background-color:white ;
}
