.Filter-container {
  position: relative;
  float: right;
  padding: 10px;
  border: 1px solid black;
  min-height: 85vh;
  max-height: 80vh;
  width: 20vw;
  background-color: rgb(236, 236, 236);
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 80vh;
}
.Filter-address {
  display: flex;
  flex-direction: row;
}
.searchBar-container {
  margin-left: 10px;
}
.Filter-range-container {
  height: 100px;
}
.Filter-range-component {
  height: 10px;
}
.Filter-range-span {
  height: 10px;
}
.Filter-range-name {
  float: left;
  width: 90px;
  text-align: left;
}
.Filter-range-min-span {
  float: left;
  margin-top: 30px;
  margin-left: -85px;
}
.Filter-range-max-span {
  float: right;
  margin-top: 30px;
}
.Range-slider {
  padding: 5px;
  height: 10px;
}
.Filter-more-opt {
  display: flex;
  justify-content: space-around;
}
.Filter-more-opt-span {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(242, 85, 90, 0.3);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}
.selected {
  color: black;
  background-color: rgba(242, 85, 90, 1);
}
.Filter-search {
  background-color: white;
}
