.Filter-container {
  position: relative;
  float: right;
  padding: 10px;
  border: 1px solid black;
  height: 80vh;
  width: 20vw;
  background-color: rgb(236, 236, 236);
}
.Filter-price-name {
  float: left;
}
.Filter-price-min-span {
  float: left;
}
.Filter-price-max-span {
  float: right;
}
.Range-slider {
  padding: 10px;
}
