.Chat-container {
  margin-top: 8vh;
  display: flex;
  width: 100vw;
  height: 92vh;
  flex-direction: row;
}
.chat-messages-container {
  background-color: #ee8c68;
  background-image: linear-gradient(315deg, #ee8c68 0%, #eb6b9d 74%);
  border-style: solid;
  width: 70vw;
  height: 82vh;
  padding: 15px;
}
.Chat-rooms-container {
  border-style: solid;
  width: 30vw;
  height: 92vh;
  overflow-y: scroll;
}
.MsgScreen-container {
}
.MsgScreen::-webkit-scrollbar {
  width: 0.25rem;
}
.MsgScreen::-webkit-scrollbar {
  width: 0.25rem;
}
.MsgScreen::-webkit-scrollbar-track {
  background: #1e1e24;
}
.MsgScreen {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.msg-form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 70vw;
  /* max-width: 728px; */
  left: 0;
  display: flex;
  font-size: 1.5rem;
}
.msg-input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}
.send-btn {
  width: 20%;
  background-color: rgb(56, 56, 143);
}
.send-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
