.Message-left,
.Message-right {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
.Message-right {
  justify-content: flex-end;
}
.Message-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}
