.Message-left,
.Message-right {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
.Message-right {
  justify-content: flex-end;
}
.Message-img {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
}
.Message-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
}
