.Likes {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.Likes-apt-div {
  display: flex;
  flex-direction: row-reverse;
  height: 30vh;
  width: 80vw;
  margin-bottom: 15vh;
  border: 1px solid grey;
}
.Likes-img-div {
  margin-left: 20vw;
}
.Likes-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  float: left;
}
.Likes-description {
  display: flex;
  flex-direction: row;
  width: 40vw;
  border-bottom: 1px solid grey;
}
.Likes-description span {
  font-size: 18px;
  padding: 0 5px;
}
