.NavBar-container {
  position: fixed;
  display: flex;
  z-index: 12;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: rgb(242, 85, 90);
  align-items: center;
  z-index: 12;
}
.NavBar-Link {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-left: 30px;
  font-weight: bold;
}
.NavBar-Link-icon {
  color: white;
}
.NavBar-Link-icon:hover {
  color: black;
}
.NavBar-logo-name {
  font-size: 40px;
  font-family: Bangers;
  margin: auto;
}
.NavBar-span-start {
  display: flex;
  justify-content: flex-start;
  width: 7vw;
  flex-direction: row;
  margin-right: 3vw;
}
.NaveBar-logo-img {
  width: 10vw;
}
.NavBar-div-end {
  position: absolute;
  right: 3vw;
  display: flex;
  justify-content: flex-end;
}

.NavBar-spinner {
  width: 7.5vh;
  margin-left: 5vh;
}

#NavBar-logo {
  color: black;
  text-decoration: none;
}
.UploadApt-plus .fa-plus-circle {
  position: fixed;
  bottom: 5vh;
  color: rgb(242, 85, 90);
  transform: scale(4);
  cursor: pointer;
}
.UploadApt-plus {
  position: absolute;
  right: 3vw;
  bottom: 5vh;
}